<div class="container-fluid">
  <h1>Criptomonedas Listadas:</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <% if current_user.present? %>
          <th scope="col"></th>
        <% end %>
        <th scope="col">Moneda</th>
        <th scope="col"></th>
        <th scope="col">Precio</th>
        <th scope="col">Volumen en 24h</th>
        <th scope="col">Cap. de Mercado</th>
        <th scope="col">Favoritos</th>
      </tr>
    </thead>
    <tbody>
      <% counter = 0 %>
      <% @cryptocurrencies.each do |currency| %>
        <tr>
          <th scope="row"><%= counter += 1 %></th>
          <% if current_user.present? %>
            <% if FavoriteCryptocurrency.find_by(user: current_user, cryptocurrency: currency) %>
              <td><a href="<%= unfavorite_cryptocurrency_path(currency) %>"><i class="fas fa-star"></i></a></td>
            <% else %>
              <td><a href="<%= favorite_cryptocurrency_path(currency) %>"><i class="far fa-star"></i></a></td>
            <% end %>
          <% end %>
          <td><%= link_to currency.name, cryptocurrency_path(currency) %></td>
          <td><%= currency.symbol.upcase %></td>
          <td><%= number_to_currency(currency.price, separator: ",", delimiter: '.') %> <%= currency.pair %></td>
          <td><%= number_to_currency(currency.total_volume, delimiter: '.', precision: 0) %> <%= currency.pair %></td>
          <td><%= number_to_currency(currency.market_cap, delimiter: '.', precision: 0) %> <%= currency.pair %></td>
          <td><%= currency.favorites_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render partial: "favorite_cryptos" %>
</div>
